*{
   padding: 0;
   margin: 0;
   text-decoration: none;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:beige;
    color: black;
    font-size: 18px;
   
} 
h1{
    font-size: 30px;
}


nav{
    /* height: 150px; */
    width: 100%;
    background:rgb(86, 170, 170);
    position: fixed;
    top: 0cm;
    z-index: 99;

}
nav .logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
div nav ul{
    float: right;
    margin-right: 50px;
    top: 5px;

    
    
  
}
div nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px; 
  
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a:active,a:hover{
    transition: .3s;
    background-color: rgb(82, 169, 170);
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    cursor: pointer;
    /* display: none; */
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: 40px; 
}
#icon{
    display: none;
}
/* images */
img{
    object-fit:cover;
    transition: 00.2s;
}
img:hover{
    cursor: pointer;
   
}
/*banner */
.banner{
    margin-top: 80px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.774)), url('images/computer-1185569__480.webp');
}
.title-banner{
    position: relative;
    top: 450px;
    text-align: center;
    color: white;
    font-size: 40px;
    width: 80%;
    text-align: center;
    margin: auto;
    
}
.arrieur-plas{
    position: absolute;
    width: 100%;
    height: 80vh;
}
/* section a propos */
#first-section{
    background-color: rgba(102, 166, 245, 0.164);
    margin-top: 30px; 
    padding: 5px;
    padding-bottom: 10px;  
    margin: 10px;
}
div section #about{

    color: rgb(10, 10, 10);
    text-align: justify;
    padding: 10px;
    border-style: groove; 
    justify-content: center;  
    align-items: center;
}
.photo-propos{
    width: 40%;
    border-radius: 10pt;  
} 
.propos{
    display: flex;
}
.PARA{
    width: 50%;
    margin-left: 70px;
    cursor: pointer;
    object-fit: cover;
}
 

/* section parcours */
#second-section{
    background-color: rgba(102, 166, 245, 0.164);
    margin-top: 830px; 
    padding: 5px;
    padding-bottom: 10px; 
    margin: 10px;
}

div section #parcours{
    color: rgb(7, 7, 7);
    text-align: justify;
    padding: 10px;
    border-style: groove;
   
}

/* section competances */
#therd-section{
    background-color: rgba(102, 166, 245, 0.164);
    /* margin-top: 830px;  */
    padding: 5px;
    padding-bottom: 10px;  
    margin: 15px;
}

#therd-section #Competances{

    color: rgb(10, 10, 10);
    text-align: justify;
    padding: 10px;
    margin: 20px;
    /* border-style: groove;    */
}
ol li.ma-liste{
    margin-left: 20px;
    width: 95%;
}

/* section galerie */
#fourth-section{
    margin-top: 830px; 
    padding: 5px;
    padding-bottom: 10px;  
    margin: 10px 0;
    /* width: 70%; */
    /* margin-left: 200px; */
   
}
div section #Galerie{
    color: rgb(10, 10, 10);
    text-align: justify;
    padding: 10px;
   
    
}
.GAL{
    object-fit:cover;
    background-size: cover;
    height: 200px;
    border-radius: 10pt;
}
p{
    text-align: justify;
    font-size: 20px;
}

/*section contact */
section#contact{
    background-color:rgb(223, 221, 221);
    padding: 100px 15px;
}
section#contact .container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 10;
    border-radius: 15px;
    box-sizing: border-box;

}
section#contact .container .title{
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 60px;
}
section#contact .container .title h6{
    font-size: 1.5em;
}
section#contact .container .title h3{
    font-size: 2.5em;
}
section#contact .container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}
section#contact .container form input{
    width: 45%;
   
}
section#contact .container form input:hover,
section#contact .container form textarea:hover{
    border-bottom: 2px solid aqua;
}
section#contact .container form input,
section#contact .container form textarea{
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #c4c4c4;
    transition: 0.2s;
}
section#contact .container form textarea{
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 60px;
}
section#contact .container form button{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: aqua;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 35px;
    outline: none;
    margin: 0 auto;
    transition: 00.2s;
}
section#contact .container form button:hover{
    transform: translateY(.5px);
    box-shadow: rgb(red, green, blue);
}

/* footer */
.footer-contenaire{
    max-width: 1170px;
    margin: auto;
}
.ligne{
  display:flex;
  flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: rgb(46, 43, 43);
    padding: 70px 0;
    height: 250px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
   
  
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    margin-top: 0 auto;
}
.footer-col .social-links a {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    color:#ffffff;
   
}

@media (max-width:1048px) {
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
    }
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }

    nav ul{
        /* margin-right: 20px; */
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width:720px){
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
    }
    body{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color:beige;
        color: black;
    } 
    nav{
        height: 100px;
        width: 100%;
        background:teal;
        /* z-index: 99; */
       
    
    }
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 80%; 
        background:teal;
        top: 0;
        left: 0;
        text-align: center;
        transition: all .3s;
        /* display: none; */
        top: 20px;
    }
    .bx-menu:active{
        
    }
    nav .logo{
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 100px;
        line-height: 80px; 
        /* display: none; */
    }
    nav li{
        display:inline-block;
        margin: 10spx 0;
        line-height: 25px;
    }
    a .active, a:hover{
    transition: .3s;
    background-color: rgb(82, 169, 170);
    }
    img{
        object-fit:cover;  
    }
    img:hover{
        object-fit:cover;  
    }
    img:hover{
         cursor: pointer;  
    }
    /* banner */
    .banner{
        margin-top: 150px;
    }

    .title-banner{
        position: relative;
        top: 20rem;
        text-align: center;
        color: white;
        width: 80%;
        margin: 0 auto;
    }
    
    .title-banner{
        position: relative;
        top: 20rem;
        text-align: center;
        color: white;
        font-size: 25px;

    }
    /* first section */
    #first-section #about{
        background-color: rgba(102, 166, 245, 0.164);
        height: 400px;
        padding: 5px;
        padding-bottom: 20px;  
        margin: 10px 0;
    }
    section #about{
        color: rgb(10, 10, 10);
        text-align: justify;
        padding: 10px;
        border-style: groove; 
        justify-content: center;  
        align-items: center;
    }
    .photo-propos{
        width: 450px;
        border-radius: 10pt;
        margin-left: 0%;
        margin-top: 0 auto;
    } 
    .propos{
        display: block;
        
    }
    .PARA{
        width:100%;
        margin-left: 0%;
        text-align: justify;
        
    }
    
    /* second section */
    #second-section{
        background-color: rgba(102, 166, 245, 0.164);
        margin-top: 830px; 
        padding: 5px;
        padding-bottom: 10px;  
        margin: 10px 0;
    }
    div section #parcours{
        color: rgb(7, 7, 7);
        text-align: justify;
        padding: 10px;
        border-style: groove;
    }
    
    /* therd section */
    #therd-section{
        background-color: rgba(102, 166, 245, 0.164);
        margin-top: 830px; 
        padding: 5px;
        padding-bottom: 10px;  
        margin: 10px 0;
    }
    div section #Competances{
        color: rgb(10, 10, 10);
        text-align: justify;
        padding: 10px;
        border-style: groove;   
    }
    ol li .ma-liste{
        margin-left: 20px;
        width: 90%;
    }
    
    /* fourth section */
    #fourth-section{
        background-color: rgba(102, 166, 245, 0.164);
        margin-top: 830px; 
        padding: 5px;
        padding-bottom: 10px;  
        margin: 10px 0;
        width: 85%;
        margin-left: 35px;
    }   
    div section #Galerie{
        color: rgb(10, 10, 10);
        text-align: justify;
        padding: 10px;
    }
    .images{
        text-align: center;
        font-size: 20px;
 
    }  
}
@media screen and (max-width:500px)  {
    h1{
        font-size: 30px;
    }
    nav{
        height: 100px;
        width: 100%;
        background:teal;
        position: fixed;
        top: 0cm;
        /* z-index: 99; */
    
    }
    nav .logo{
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 100px;
        line-height: 80px;
    }
    div nav ul{
        float: right; 
        margin-right: 50px;
        
      
    }
    div nav li{
        display: inline-block;
        margin: 0 8px;
        line-height: 80px; 
      
    }
    nav a{
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        border: 1px solid transparent;
        padding: 7px 10px;
        border-radius: 3px;
    }
    a:active,a:hover{
        transition: .3s;
        background-color: rgb(82, 169, 170);
    }
    nav #icon{
        color: white;
        font-size: 30px;
        line-height: 40px;
        float: right;
        cursor: pointer;
        position: relative;
        right: 0;
        top: 25px;
        margin-right: 40px; 
    } 
    nav .logo{
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 100px;
        line-height: 80px;
        /* display: none; */
    } 
    section #contact .container form {
        flex-direction: column;
        width: 95%;
    }
    section #contact .container form input{
        width: 100%;   
    }
    section #contact .container .title h6{
        font-size: 1em;
    }
    section #contact .container .title h3{
        font-size: 2em;
    }
    p{
        text-align: justify;
        font-size: 17px;
    }
    h1{
        font-size: 25px;
    }
    .section-images{
        text-align: left;
        font-size: 25px;
    }

}
@media (max-width:767px){
    .footer-col{
         width: 50%;
        margin-bottom: 30px;
    }
    .footer{
        background-color: rgb(46, 43, 43);
        padding: 70px 0;
        height: 200px;
    }
    
     nav ul{
        position: fixed;
        width: 100%; 
        background:teal;
        top: 0;
        left: 0;
        text-align: center;
        transition: all .3s;
        display: none;
    }
    nav #icon{
        color: white;
        font-size: 30px;
        line-height: 40px;
        float: right;
        cursor: pointer;
        position: relative;
        right: 0;
        top: 25px;
        margin-right: 40px; 
    }
    .bx-menu:active{
        
    }
    nav .logo{
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 100px;
        line-height: 80px; 
        /* display: none; */
    }
}
@media (max-width:574px){
    .footer-col{
        width: 100%;
    }
        
    h1{
        font-size: 30px;
    } 
    nav{
        /* height: 100px; */
        width: 100%;
        background:rgb(90, 126, 126);
        position: fixed;
        top: 0cm;
        /* z-index: 99; */
    
    } 
    
    /* nav .logo{
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 100px;
        line-height: 80px;
    } */
    div nav ul{
        float: right;
        margin-right: 60px;

      
    }
     */
    /* div nav li{
        display: inline-block;
        margin: 0 8px;
        line-height: 80px; 
      
    } */
/*     
    nav a{
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        border: 1px solid transparent;
        padding: 7px 10px;
        border-radius: 3px;
    } */
    /* a:active,a:hover{
        transition: .3s;
        background-color: rgb(82, 169, 170);
    }
    nav #icon{
        color: white;
        font-size: 30px;
        line-height: 80px;
        float: right;
        cursor: pointer; */
        /* display: none;
         position: absolute;
        right: 0;
        top: 25px;
        margin-right: 40px; 
    }
    .title-banner{
        position: relative;
        top: 40rem;
        text-align: center;
        color: rgb(131, 32, 32);
        font-size: 60px;
        
    }
    h1{
        font-size: 30px;
    }*/
 }